[submodule "local/share/omf"]
	path = local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
