.DS_Store
*.pem
config/direnv
config/Fritzing
config/fish/fish_history
config/fish/fishd.*
config/xbuild
config/configstore/update-notifier-npm.json
config/configstore/update-notifier-npm.json*
config/pgcli/history
config/pgcli/log
config/StardewValley
config/nvim*/plugged/
config/configstore/update-notifier-@docusaurus/core.json
