[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:hlissner/doom-emacs.git
	branch = develop
[submodule "local/share/omf"]
	path = local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
